doctype html
html
  head
    meta(charset='utf-8')
    title Taxi Driver
    link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
  body
    div(id='container')
      h2 사용자 상세 정보
      p - 사용자 계정 :   #{address}
      p - 이더 보유량 :   #{ether} ETH
      p - 토큰 보유량 :   #{token} TDs
